<footer class="umn-bootstrap">
  <div class="umn-links">
    <p><%= render :partial => 'layouts/umn_bootstrap/contact' %></p>
    <ul>
      <li>Twin Cities:</li>
      <li><a href="http://www1.umn.edu/pts/">Parking &amp; Transportation</a></li>
      <li><a href="http://www.umn.edu/twincities/maps/index.html">Maps &amp; Directions</a></li>
      <li><a href="http://www.directory.umn.edu/">Directories</a></li>
      <li><a href="http://www.umn.edu/">U of MN</a></li>
      <li><a href="http://www1.umn.edu/twincities/privacy/">Privacy</a></li>
    </ul>
  </div>
  <p class="umn-copyright">
    &copy; 2012 Regents of the University of Minnesota. All rights reserved.<br />
    The University of Minnesota is an equal opportunity educator and employer.<br />
    <%= render :partial => 'layouts/umn_bootstrap/version' %>
  </p>
</footer>

