<header class="umn-bootstrap">
  <a href="#maincontent" class="hidden">Skip to Content</a>
  <div class="pull-right">
    <ul>
      <li>Campuses:</li>
      <li><a href="http://www.umn.edu">Twin Cities</a></li>
      <li><a href="http://www.crk.umn.edu/">Crookston</a></li>
      <li><a href="http://www.d.umn.edu/">Duluth</a></li>
      <li><a href="http://www.morris.umn.edu/">Morris</a></li>
      <li><a href="http://www.r.umn.edu/">Rochester</a></li>
      <li><a href="http://www1.umn.edu/twincities/campuses.php">Other Locations</a></li>
    </ul>
  </div>
  <div class="umn-search">
    <a href="http://www.umn.edu/"><%= image_tag 'logo_uofm_D2D.gif', :alt => 'U of M system homepage' %></a>
    <form action="http://search.umn.edu/tc/" method="get" class="form-inline">
      <div class="input-append">
        <input type="text" name="q" placeholder="Search Websites and People" />
        <button class="btn" type="button">Search</button>
      </div>
    </form>
  </div>
</header>
